<GridLayout class="background">
  <StackLayout>

    <FlexboxLayout flexDirection="column" [formGroup]="buyForm" justifyContent="space-between" shadow="6" class="part-form-buy m-15 p-t-20" alignItems="center"
      height="90%">

      <FlexboxLayout flexDirection="column" justifyContent="center" alignItems="center">
        <Label class="form-label" text="Valor do Produto" textWrap="true"></Label>

        <FlexboxLayout class="value-container text-center" justifyContent="center">
          <Label text="R$" class="label-value m-t-5" textWrap="true"></Label>
          <TextField id="productValue" name="productValue" formControlName="productValue" keyboardType="phone" hint="0,00" class="text-field text-center field-value"
            text="">
          </TextField>

        </FlexboxLayout>

      </FlexboxLayout>

      <FlexboxLayout flexDirection="column" justifyContent="center" alignItems="center" height="100">
        <Button (tap)="register()" text="Registrar Compra" [isEnabled]="buyForm.valid" width="200" class="btn btn-primary" borderRadius="5"></Button>
      </FlexboxLayout>

    </FlexboxLayout>

  </StackLayout>

</GridLayout>