<GridLayout>
  <StackLayout>
    <Label text="Dados da Conta" class="h3 m-10" textWrap="true"></Label>
    <StackLayout class="hr-light m-b-10"></StackLayout>

    <FlexboxLayout flexDirection="column" justifyContent="center" height="15%">
      <GridLayout>
        <Label text="Sua conta: " class="h3 p-l-10" row="0" col="0" textWrap="true"></Label>
        <Label [text]="(enrollService.account$ | async)?.pan" class="body m-t-25 p-l-10" fontSize="20" row="0" col="0" textWrap="true"></Label>
      </GridLayout>
    </FlexboxLayout>

    <FlexboxLayout flexDirection="column" justifyContent="space-between" height="80%">

      <StackLayout>
        <Label text="&nbsp;" textWrap="true"></Label>

      </StackLayout>

      <StackLayout class="text-center">
        <Label [text]="'Versão do APP: '+version+'v'" class="body m-10" textWrap="true"></Label>
        <Label class="p-x-10" text="Ao utilizar nosso aplicativo, você esta concordando com nossos termos de uso, clique abaixo para lê-lo." textWrap="true"></Label>
        <Label text="Termos de Uso" (tap)="goToUserTerms()" class="body text-secondary m-10"></Label>
      </StackLayout>
    </FlexboxLayout>
  </StackLayout>
</GridLayout>