<GridLayout>

  <custom-android-actionbar></custom-android-actionbar>

  <StackLayout>
    <GridLayout rows="*, 60">
      <StackLayout row="0" height="100%">
        <page-router-outlet></page-router-outlet>
      </StackLayout>

      <StackLayout row="1" class="tab-group">
        <FlexboxLayout flexDirection="row" alignItems="center" justifyContent="center" class="btn-tab-group">
          <StackLayout class="btn-tab" width="20%" class="text-center" [class.actived]="active === 'buy'" (tap)="goToBuyScreen()">
            <Image src="res://buy" height="24" width="24"></Image>
            <Label text="Comprar" class="btn-tab-text" textWrap="true"></Label>
          </StackLayout>

          <StackLayout class="btn-tab" width="20%" class="text-center" [class.actived]="active === 'credit'" (tap)="goToCreditScreen()">
            <Image src="res://credit" height="24" width="24"></Image>
            <Label text="Creditar" class="btn-tab-text" textWrap="true"></Label>
          </StackLayout>

          <StackLayout class="btn-tab" width="20%" class="text-center" [class.actived]="active === 'statement'" (tap)="goToStatementScreen()">
            <Image src="res://resume" height="24" width="24"></Image>
            <Label text="Extrato" class="btn-tab-text" textWrap="true"></Label>
          </StackLayout>

          <StackLayout class="btn-tab" width="20%" class="text-center" [class.actived]="active === 'transfer'" (tap)="goToTransferScreen()">
            <Image src="res://transfer" height="24" width="24"></Image>
            <Label text="Transferir" class="btn-tab-text" textWrap="true"></Label>
          </StackLayout>

          <StackLayout class="btn-tab" width="20%" class="text-center actived" [class.actived]="active === 'account'" (tap)="goToMyAccountScreen()">
            <Image src="res://account" height="24" width="24"></Image>
            <Label text="Minha Conta" class="btn-tab-text " textWrap="true"></Label>
          </StackLayout>
        </FlexboxLayout>
      </StackLayout>
    </GridLayout>
  </StackLayout>
</GridLayout>